h2 {
    color:rgb(100,100,100);
    text-align: center;
    font-size: 25pt;
}

h3 {
    color:rgb(100,100,100);
    text-align: center;
    text-size: 20pt;
}

p {
    color:rgb(100,100,100);
    text-align: center;
    font-size: 15pt;
}

div#home {
    position: fixed;
    bottom: 0;
    text-align: center;
    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 15pt;
  }

