h1 {
    color:rgb(100,100,100);
    text-align: center;
    font-size: 2vw;
}

p {
    color:rgb(100,100,100);
    text-align: center;
    font-size: 1vw;
}

img {
    display: block;
    width: 10%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

div#imprint {
    position: fixed;
    bottom: 0;
    text-align: center;
    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 1vw;
  }
